<div>
  <input type="button"
         class="spec-add-button"
         value="+"
         ng-click="$ctrl.onAddComponent()"
         ng-disabled="$ctrl.isDisabledAddButton">
  <input type="button"
         class="spec-delete-button"
         value="-"
         ng-click="$ctrl.onDeleteComponent()"
         ng-disabled="$ctrl.isDisabledDeleteButton">
</div>
